<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<event name="sales_convert_order_item_to_quote_item">
		<observer name="laurensmedia_productdesigner_observer_reorder" instance="Laurensmedia\Productdesigner\Observer\Reorder" />
	</event>

</config>